body, html{
    height: 100%;
    background-image: url("../images/show-me-what-you-got.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
	font-family: 'Bungee', cursive;
}

#subwrapper {
	font-family: 'Bungee', cursive;
}